#fxTimi, #fxStig {
    -fx-font-size: 20px;
}

.label {
    -fx-font-size: 20px;
}


#fxLeikbord1 {
    -fx-background-color: grey;
}
#fxLeikbord2 {
    -fx-background-color: grey;
}
#fxGrafari1{
        -fx-background-image: url("/media/mynd.png");
        -fx-background-size: cover; /* or contain, depending on your needs */
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
}



